html {
  font-size: var(--font-size-normal);
}

body {
  font-family: var(--font-stack-primary);
  line-height: var(--line-height-normal);
  background: var(--color-background);
  color: var(--color-text);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-link-hover);
}

a:active {
  color: var(--color-link-active);
  text-decoration-color: currentcolor;
}


.site-header {
  padding: var(--spacing-vertical) var(--spacing-horizontal);
  border-bottom: var(--border-normal);
  display: flex;
  justify-content: space-between;
}

.site-footer {
  padding: var(--spacing-vertical) var(--spacing-horizontal);
  border-top: var(--border-normal);
}

.text-wrapper {
  padding: var(--spacing-vertical-large-2) var(--spacing-horizontal-large-2);
}

.main-nav {
  margin: 0 calc(var(--spacing-vertical-small-2) * -1);
}

.main-nav-item {
  margin: 0 var(--spacing-vertical-small-2);
}

.page-header {
  padding: var(--spacing-vertical-large-2) var(--spacing-horizontal-large-2);
}

/* Special styles for text rendered from the block editor */
/* Although we try to avoid implicit styling via cascading */
/* in this case we do allow it */
/* Special selector to target every child node directly following a child node */
/* equivalent to > *:not(:first-child) */
.portable-text > * + * {
  margin-top: var(--spacing-vertical-small);
}
