/* Typography */

html {
  font-size: var(--font-size-normal);
  font-family: var(--font-stack-primary);
}

body {
  line-height: var(--line-height);
}

h1 {
  color: var(--color-primary);
  line-height: var(--line-height--small);
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

/* Links */

a:not([class]) {
  color: var(--color-link);
  text-decoration-color: var(--color-link);
}

a:not([class]):visited {
  color: var(--color-link--visited);
}

a:not([class]):active {
  color: var(--color-link--active);
}

/* Layout */

.wrapper {
  padding: var(--spacing-vertical) var(--spacing-horizontal);
}

.stack {
  display: flex;
  flex-direction: column;
}

.box {
  flex-grow: 1;
}


/* Components */
.sub-nav-list {
  padding-left: var(--spacing-horizontal--sm);
  list-style: none;
}
