/* Typography */

html {
  font-size: var(--font-size-normal);
  font-family: var(--font-stack-primary);
  color: var(--color-text);
  height: 100%;
}

body {
  line-height: var(--line-height);
  height: 100%;
}

h1 {
  line-height: var(--line-height--small);
  font-size: var(--font-size-h1);
  font-weight: 300;
}

h2 {
  font-size: var(--font-size-h2);
}

/* Links */

a {
  color: var(--color-link);
  text-decoration: none;
}

a:not([class]) {
  text-decoration: underline;
  text-decoration-color: var(--color-link--underline);
}

a:not([class]):visited {
  color: var(--color-link--visited);
}

a:not([class]):active {
  color: var(--color-link--active);
}

.link-current {
  font-weight: bold;
}

/* Layout */

.wrapper {
  padding: var(--spacing-vertical) var(--spacing-horizontal);
}

.stack {
  display: grid;
  gap: var(--spacing-horizontal--sm) var(--spacing-vertical--sm);
}

.layout {
  display: grid;
}

.layout--full-height {
  min-height: 100%;
}


/* Components */
.sub-nav-list {
  padding-left: var(--spacing-horizontal--sm);
  list-style: none;
}

.nav-breadcrumbs {
  font-size: var(--font-size-small);
}

.header {
  background: var(--color-background--dark);
  color: var(--color-white);
}

.footer {
  background: var(--color-background--dark);
  color: var(--color-white);
}
