/* Raw values */

:root {
  /* Units */
  --unit-ratio: 1.25;
  --unit-7xl: calc(var(--unit-normal) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio));
  --unit-6xl: calc(var(--unit-normal) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio));
  --unit-5xl: calc(var(--unit-normal) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio));
  --unit-4xl: calc(var(--unit-normal) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio));
  --unit-3xl: calc(var(--unit-normal) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio));
  --unit-2xl: calc(var(--unit-normal) * var(--unit-ratio) * var(--unit-ratio) * var(--unit-ratio));
  --unit-xl: calc(var(--unit-normal) * var(--unit-ratio) * var(--unit-ratio));
  --unit-lg: calc(var(--unit-normal) * var(--unit-ratio));
  --unit-normal: 18px;
  --unit-sm: calc(var(--unit-normal) / var(--unit-ratio));
  --unit-xs: calc(var(--unit-normal) / var(--unit-ratio) / var(--unit-ratio));
  --unit-2xs: calc(var(--unit-normal) / var(--unit-ratio) / var(--unit-ratio) / var(--unit-ratio));
  --unit-3xs: calc(var(--unit-normal) / var(--unit-ratio) / var(--unit-ratio) / var(--unit-ratio) / var(--unit-ratio));
  --unit-4xs: calc(var(--unit-normal) / var(--unit-ratio) / var(--unit-ratio) / var(--unit-ratio) / var(--unit-ratio) / var(--unit-ratio));

  /* Fonts */
  --line-height-normal: 1.45454545;
  --line-height-small: 1.2;
  --font-stack-system: -apple-system, blinkmacsystemfont, segoe ui, 'helvetica neue', helvetica, ubuntu, roboto, noto, arial, sans-serif;

  /* Colors */
  --color-yellow: goldenrod;
  --color-lightblue: lightskyblue;
  --color-blue: cornflowerblue;
  --color-darkblue: darkblue;
  --color-red: darkred;
  --color-purple: darkviolet;
  --color-darkgray: darkslategray;
  --color-gray: slategray;
  --color-lightgray: lightslategray;
}


/* Abstract/semantic values – only refer to named raw values */

:root { /* stylelint-disable-line no-duplicate-selectors */
  /* Typography */
  --line-height: var(--line-height-normal);
  --line-height--small: var(--line-height-small);
  --font-size-normal: var(--unit-normal);
  --font-size-h1: var(--unit-2xl);
  --font-size-h2: var(--unit-xl);
  --font-size-h3: var(--unit-large);
  --font-size-h4: var(--unit-normal);
  --font-stack-primary: var(--font-stack-system);

  /* Colors */
  --color-text: var(--color-gray);
  --color-text--light: var(--color-lightgray);
  --color-text--dark: var(--color-darkgray);
  --color-primary: var(--color-yellow);
  --color-link: var(--color-blue);
  --color-link--underline: var(--color-lightblue);
  --color-link--active: var(--color-red);
  --color-link--visited: var(--color-purple);

  /* Spacing */
  --spacing-horizontal: var(--unit-xl);
  --spacing-horizontal--sm: var(--unit-normal);
  --spacing-vertical: var(--unit-xl);
  --spacing-vertical--sm: var(--unit-normal);
}


