---
layout: layout
title: web-starter-11ty-sanity
---
<h1>Hello World! Locale: {{locale.lang}}</h1>

{{#articles}}
  <article>
    <h2>{{title}}</h2>

    {{#imageUrl}}
      <img src="{{{.}}}" />
    {{/imageUrl}}

    {{{bodyHtml}}}
  </article>
{{/articles}}
