<h1>Hello World!</h1>

<ul>
  <li>
    <a href="/about">About</a>
  </li>
</ul>

<ul>
  {{#articles}}
    <li>
      <a href="/articles/{{_id}}">
        {{title}}
      </a>
    </li>
  {{/articles}}
</ul>
