<!DOCTYPE html>
<html lang="{{locale.lang}}">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/assets/styles.css" />
    {{#navigation.locales}}
      {{#alternate}}
        <link rel="alternate" hreflang="{{locale.lang}}" href="{{{path}}}" />
      {{/alternate}}
    {{/navigation.locales}}
  </head>
  <body>
    {{{content}}}
  </body>
</html>
