<!DOCTYPE html>
<html lang="{{locale.lang}}">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/assets/styles.css" />
    {{#locale}}
      {{#locales}}
        {{#path}}
          <link rel="alternate" hreflang="{{lang}}" href="/{{lang}}{{{path}}}" />
        {{/path}}
      {{/locales}}
    {{/locale}}
  </head>
  <body>
    {{{content}}}
  </body>
</html>
