<ul>
  {{#navigation.locales}}
    <li>
      {{^current}}
        <a href="{{{path}}}">
      {{/current}}

      {{locale.title}}

      {{^current}}
        </a>
      {{/current}}
    </li>
  {{/navigation.locales}}
</ul>
