<ul>
  {{#navigation.pages.list}}
    <li>
      {{^current}}<a href="/{{{lang}}}{{{path}}}">{{/current}}
      {{label}}
      {{^current}}</a>{{/current}}
    </li>
  {{/navigation.pages.list}}
</ul>
