<ul>
  {{#navigation.pages.list}}
    <li>
      {{^current}}
        <a href="/{{{lang}}}{{{path.local}}}">
      {{/current}}

      {{label.local}}

      {{^current}}
        </a>
      {{/current}}
    </li>
  {{/navigation.pages.list}}
</ul>
