---
layout: layout
pagination:
    data: articles
    size: 1
    alias: article
permalink: "{{article.slug}}/index.html"
---
{{>locales}}
{{>navigation}}

{{#article}}
  <h1>{{title}}</h1>
  <p><em>{{introduction}}</em></p>
{{/article}}
