---
layout: layout
pagination:
    data: articles
    size: 1
    alias: article
permalink: "{{article.slug.local.current}}/index.html"
---
{{>locales}}
{{>pages}}

{{#article}}
  <h1>{{title.local}}</h1>

  {{#imageUrl}}
    <img src="{{{imageUrl}}}" />
  {{/imageUrl}}

  {{{bodyHtml}}}
{{/article}}
