---
layout: layout
---
{{>locales}}
{{>pages}}

<h1>{{strings.hello}}</h1>

<ul>
  {{#articles}}
    <li>
      <a href="/{{lang}}/{{slug}}">
        {{title}}
      </a>
    </li>
  {{/articles}}
</ul>
